.page-header
  %h1.f-left Test
  .clear

= form_tag("/robots", method: :get, class: "form-horizontal", role: "form", remote: true) do
  .form-group
    .col-sm-10
      = label_tag "input", "Input", class: "col-sm-2 control-label"
      = text_area_tag "input", "", class: 'form-control'
  .form-group
    .col-sm-offset-2.col-sm-10
      = button_tag "Submit", type: "submit", class: "btn btn-primary", id: "SubmitBTN"
.clear
%hr
.col-sm-10
  = label_tag "Result", "Result:", class: "col-sm-2 control-label"
  %span#movement-result
